@charset "UTF-8";

.free_detail_all button:focus, input:focus, textarea:focus,
	.free_content_main:focus {
	outline: none;
}

.free_detail_all h1 {
	color: rgb(255, 209, 51);
	font-family: Arial, sans-serif;
	border-bottom: 1px solid black;
	line-height: 50px;
}

.free_header {
	position: relative;
	margin-top: 60px;
}

.free_img1 {
	position: absolute;
	bottom: 60px;
	right: 274px;
	left: 0;
}

.free_img2 {
	position: absolute;
	right: 0px;
	left: 279px;
	bottom: 61px;
}

.free_main {
	max-width: 1460px;
	margin: 0 auto;
	padding: 20px;
}

.free_content_header>#free_content_header1 {
	width: 900px;
	height: 48px;
	padding: 0 10px;
	border: 2px solid #ccc;
	border-radius: 5px;
	color: rgb(94, 94, 94);
	font-size: 20px;
}

.free_content_header>#free_content_header2 {
	width: 900px;
	height: 30px;
	padding: 0 10px;
	border: 2px solid #ccc;
	border-radius: 5px;
	color: rgb(94, 94, 94);
}

.free_content_main {
	width: 900px;
	height: auto;
	min-height: 400px;
	padding: 0 10px;
	border: 2px solid #ccc;
	border-radius: 5px;
	margin-left: 260px;
	color: rgb(94, 94, 94);
	font-size: 14px;
}

.free_back {
	background-color: rgb(230, 242, 255);
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	padding: 1px 5px 3px 5px;
}

.free_retouch {
	background-color: rgb(230, 242, 255);
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	padding: 1px 5px 3px 5px;
}

.free_delete {
	background-color: rgb(255, 209, 51);
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.free_content_file {
	margin-left: 258px;
	margin-top: -3px;
}

#replyContent {
	border: none;
	outline: none;
}

.free_table {
	border: none;
}

.free_table tr th>button {
	background-color: rgb(230, 242, 255);
	color: rgb(0, 123, 255);
	border: none;
}

.main_td {
	border: 2px solid #ccc;
	border-right: none;
}

.main_td span {
	font-size: 16px;
}

.td_date {
	font-size: 11px;
	color: #ccc;
}

.reply_update {
	background-color: rgb(230, 242, 255);
	color: rgb(0, 123, 255);
	border: none;
}

.reply_delete {
	background-color: rgb(255, 209, 51);
	color: white;
	border: none;
}