#result{
    display: none;
    background-color: white;
    width: 80%;
    text-align: center;
    border-radius: 20px;
}
.resultName{
    font-size: 48px;
}
.resultDesc{
    font-size: 20px;
}

.kakao{
    color: white;
    background-color: #FEE500;
    font-size: 20px;
    border: 0px;
    border-radius: 20px;
	text-decoration:none;    
}
a{
	text-decoration:none; 
}

.kakao:hover, .kakao:focus{
    background-color: whitesmoke;
    color: #FEE500;
}