<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
		SELECT COUNT(*) AS COUNT
		FROM BOARD
		WHERE STATUS = 'Y'
		  AND BOARD_TYPE = 2
	</entry>
	
	<entry key="selectList">
		SELECT * 	
		FROM(
				SELECT ROWNUM RNUM , A.*
				FROM (
					SELECT
					       BOARD_NO,
					       CATEGORY_NAME,
					       BOARD_TITLE,
					       USER_ID,
					       COUNT,
					       CREATE_DATE
					FROM BOARD B
					JOIN CATEGORY ON (BOARD_CATEGORY = CATEGORY_NO)
					JOIN MEMBER ON (BOARD_WRITER = USER_NO)
					WHERE BOARD_TYPE = 2
					  AND B.STATUS = 'Y'
					ORDER BY CREATE_DATE DESC
				) A
			)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectCategoryList">
		SELECT CATEGORY_NO, CATEGORY_NAME
		FROM CATEGORY
	</entry>
	
	<entry key="insertBoard">
		INSERT INTO BOARD(BOARD_NO, BOARD_TYPE, BOARD_CATEGORY, BOARD_TITLE, BOARD_CONTENT, BOARD_WRITER)
		VALUES (SEQ_BNO.NEXTVAL , 2 , ? , ? , ? , ?)
	</entry>
	
	<entry key="insertAttachment">
		INSERT INTO ATTACHMENT(FILE_NO, REF_BNO, ORIGIN_NAME, CHANGE_NAME,FILE_PATH)
		VALUES(SEQ_FNO.NEXTVAL , SEQ_BNO.CURRVAL, ? , ?, ? )
	</entry>
	
	<entry key="increaseCount">
		UPDATE BOARD
		SET COUNT = NVL2(COUNT, COUNT+1, 1)
		WHERE BOARD_NO = ?
		AND STATUS = 'Y'
	</entry>
	
	<entry key="selectBoard">
		SELECT 
			BOARD_NO,
			CATEGORY_NAME,
			BOARD_TITLE,
			BOARD_CONTENT,
			COUNT,
			USER_ID,
			CREATE_DATE
		FROM BOARD B
		LEFT JOIN CATEGORY ON (BOARD_CATEGORY = CATEGORY_NO)
		JOIN MEMBER ON (BOARD_WRITER = USER_NO)
		WHERE BOARD_NO = ?
		  AND B.STATUS = 'Y'
	</entry>
	
	<entry key="selectAttachment">
		SELECT 
			FILE_NO ,
			ORIGIN_NAME,
			CHANGE_NAME,
			FILE_PATH,
			NVL(FILE_LEVEL , 0) AS FILE_LEVEL
		FROM ATTACHMENT
		WHERE REF_BNO = ?
		ORDER BY FILE_LEVEL
	</entry>
	
	<entry key="updateBoard">
		UPDATE BOARD
		SET 
			BOARD_CATEGORY = ?,
			BOARD_TITLE = ?,
			BOARD_CONTENT =?
		WHERE BOARD_NO = ?
	</entry>
	
	<entry key="updateAttachment">
		INSERT INTO ATTACHMENT(FILE_NO, REF_BNO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH, FILE_LEVEL)
		VALUES
		(SEQ_FNO.NEXTVAL , ? , ? , ?, ?, ? )
	</entry>
	
	<entry key="insertAttachmentList">
		INSERT INTO ATTACHMENT(FILE_NO, REF_BNO, ORIGIN_NAME,CHANGE_NAME, FILE_PATH, FILE_LEVEL)
		VALUES (SEQ_FNO.NEXTVAL, SEQ_BNO.CURRVAL , ?, ? , ?, ?)
	</entry>
	
	<entry key="deleteBoard">
		UPDATE BOARD
		SET STATUS = 'N'
		WHERE BOARD_NO = ?
		AND BOARD_WRITER = ?
	</entry>
	
	<entry key="deleteAttachment">
		DELETE FROM ATTACHMENT
		WHERE REF_BNO = ?
	</entry>
	
	<entry key="insertReply">
		INSERT INTO REPLY(REPLY_NO, REPLY_CONTENT, REF_BNO, REPLY_WRITER)
		VALUES (SEQ_RNO.NEXTVAL, ?, ?, ?)		
	</entry>
	
	<entry key="selectReplyList">
		SELECT
			REPLY_NO, REF_BNO, REPLY_CONTENT, USER_ID, TO_CHAR(CREATE_DATE, 'YY/MM/DD') AS CREATE_DATE
		FROM REPLY R
		JOIN MEMBER ON (USER_NO = REPLY_WRITER)
		WHERE R.STATUS = 'Y' AND REF_BNO = ?
		ORDER BY CREATE_DATE DESC, REPLY_NO DESC
	</entry>
	
	<entry key="deleteReply">
		DELETE FROM REPLY
		WHERE REPLY_NO = ?
	</entry>
	
	<entry key="updateReply">
		UPDATE REPLY
		SET 
			REPLY_CONTENT = ? , 
			CREATE_DATE = TO_CHAR(SYSDATE, 'YY/MM/DD')
		WHERE REPLY_NO = ?
	</entry>
	
	<entry key="searchListCount">
		SELECT COUNT(*) AS COUNT
		FROM BOARD
		WHERE STATUS = 'Y'
		AND BOARD_TYPE = 2
        AND BOARD_TITLE LIKE '%' || ? || '%' OR BOARD_WRITER LIKE '%' || ? || '%'
	</entry>
	
	<entry key="searchList">
		SELECT * FROM(
            SELECT ROWNUM RNUM , A.*
				FROM (
					SELECT
					       BOARD_NO,
					       CATEGORY_NAME,
					       BOARD_TITLE,
					       USER_ID,
					       COUNT,
					       CREATE_DATE
					FROM BOARD B
					JOIN CATEGORY ON (BOARD_CATEGORY = CATEGORY_NO)
					JOIN MEMBER ON (BOARD_WRITER = USER_NO)
					WHERE BOARD_TYPE = 2
					  AND B.STATUS = 'Y'
					ORDER BY CREATE_DATE DESC
				) A
                WHERE A.BOARD_TITLE LIKE '%' || ? || '%' OR A.USER_ID LIKE '%' || ? || '%'
			)
		WHERE RNUM BETWEEN ? AND ?
	</entry>

</properties>
