<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertSellBoard">
		INSERT INTO BOARD(BOARD_NO, BOARD_TYPE, BOARD_TITLE, BOARD_CONTENT, BOARD_WRITER, SALE, ADDRESS, LATITUDE, LONGITUDE, COUNT)
		VALUES(SEQ_BNO.NEXTVAL, 3, ?, ?, ?, 'Y', ? ,?, ?, 0)
	</entry>
	<entry key="insertAttachmentList">
		INSERT INTO ATTACHMENT(FILE_NO, REF_BNO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH, FILE_LEVEL)
		VALUES (SEQ_FNO.NEXTVAL, SEQ_BNO.CURRVAL, ?, ?, ?, ?)
	</entry>
	
	<entry key="selectListCount">
		SELECT COUNT(*) AS COUNT
		FROM BOARD
		WHERE STATUS = 'Y'
		  AND BOARD_TYPE = '3'
	</entry>
	<entry key="selectList">
		SELECT *
		FROM  (SELECT ROWNUM RNUM, A.*
    			 FROM  (SELECT 
	                        BOARD_NO,
	                        BOARD_TITLE,
	                        USER_NICKNAME,
	                        COUNT,                
	                        (SELECT COUNT(*) FROM B_LIKE L WHERE L.BOARD_NO = B.BOARD_NO )  AS B_LIKE,
	                        CHANGE_NAME,
	                        FILE_PATH
                		 FROM BOARD B
                		 JOIN MEMBER M ON (B.BOARD_WRITER = M.USER_NO)
		                 LEFT JOIN ATTACHMENT A ON (B.BOARD_NO = REF_BNO)
		                 WHERE BOARD_TYPE = 3
		                   AND B.STATUS = 'Y'
		                   AND FILE_LEVEL = 1
		                   AND A.STATUS = 'Y'
		                   AND B.SALE = 'Y'
		                 ORDER BY CREATE_DATE DESC, BOARD_NO DESC)A
		                  )
		WHERE RNUM BETWEEN ? AND ? 
	</entry>
	<entry key="selectNoticeList">
		SELECT BOARD_NO, BOARD_TITLE, USER_NICKNAME, COUNT
		FROM BOARD B
		JOIN MEMBER M ON (B.BOARD_WRITER = M.USER_NO)
		WHERE BOARD_TYPE = 4
		  AND B.STATUS = 'Y'
		ORDER BY CREATE_DATE DESC, BOARD_NO DESC
	</entry>
	
	<entry key="increaseCount">
		UPDATE BOARD
		SET COUNT = COUNT+1
		WHERE BOARD_NO = ?
		  AND STATUS = 'Y'
	</entry>
	<entry key="selectBoard">
		SELECT BOARD_NO, BOARD_TITLE, USER_NICKNAME, BOARD_CONTENT, CREATE_DATE, COUNT, LATITUDE, LONGITUDE, B.ADDRESS
		FROM BOARD B
		JOIN MEMBER ON (BOARD_WRITER = USER_NO)
		WHERE BOARD_NO = ?
		  AND B.STATUS = 'Y'
	</entry>
	<entry key="selectAttachment">
		SELECT FILE_NO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH, FILE_LEVEL
		FROM ATTACHMENT
		WHERE REF_BNO = ?
		  AND STATUS = 'Y'
		ORDER BY FILE_LEVEL
	</entry>
	<entry key="selectLikeCount">
		SELECT COUNT(*) AS COUNT
		FROM B_LIKE
		WHERE BOARD_NO = ?
	</entry>
	
	<entry key="updateBoard">
		UPDATE BOARD
		SET BOARD_TITLE = ?,
			BOARD_CONTENT = ?,
			ADDRESS = ?,
			LATITUDE = ?,
			LONGITUDE = ?,
			SALE = ?
		WHERE BOARD_NO = ?
		  AND STATUS = 'Y'
	</entry>
	<entry key="updateAttachmentInsert">
		INSERT INTO ATTACHMENT(FILE_NO, REF_BNO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH, FILE_LEVEL)
		VALUES (SEQ_FNO.NEXTVAL, ?, ?, ?, ?, ?)
	</entry>
	<entry key="updateAttachmentDelete">
		UPDATE ATTACHMENT
		SET STATUS = 'N'
		WHERE FILE_NO = ?
	</entry>
	
	<entry key="deleteBoard">
		UPDATE BOARD
		SET STATUS = 'N'
		WHERE BOARD_NO = ?
		  AND STATUS = 'Y'
	</entry>
	<entry key="deleteAttachment">
		UPDATE ATTACHMENT
		SET STATUS = 'N'
		WHERE REF_BNO = ?
		  AND STATUS = 'Y'
	</entry>
	
	<entry key="selectLike">
		SELECT COUNT(*) AS COUNT
		FROM B_LIKE
		WHERE BOARD_NO = ?
		  AND USER_NO = ?
	</entry>
	<entry key="insertLike">
		INSERT INTO B_LIKE (BOARD_NO, USER_NO)
		VALUES (?, ?)
	</entry>
	<entry key="deleteLike">
		DELETE FROM B_LIKE
		WHERE BOARD_NO = ?
		  AND USER_NO = ?
	</entry>
	
	<entry key="selectSearchListCount1">
		SELECT COUNT(*) AS COUNT
		FROM (SELECT INSTR(ADDRESS, ?)AS "위치" FROM BOARD WHERE SALE = 'Y' AND STATUS='Y')
		WHERE 위치 > 0
	</entry>
	<entry key="selectSearchListCount2">
		SELECT COUNT(*) AS COUNT
		FROM (SELECT INSTR(ADDRESS, ?)AS "위치", INSTR (BOARD_TITLE, ?) AS "제목" FROM BOARD WHERE SALE = 'Y' AND STATUS='Y')
		WHERE 위치 > 0
		  AND 제목 > 0
	</entry>
	<entry key="selectSearchListCount3">
		SELECT COUNT(*) AS COUNT
		FROM(SELECT INSTR(BOARD_TITLE, ?) AS "제목" FROM BOARD WHERE SALE = 'Y' AND STATUS='Y')
		WHERE 제목 > 0
	</entry>
	<entry key="selectSearchList1">
		SELECT *
		FROM  (SELECT ROWNUM RNUM, A.*
    			 FROM  (SELECT 
	                        BOARD_NO,
	                        BOARD_TITLE,
	                        USER_ID,
	                        COUNT,                
	                        (SELECT COUNT(*) FROM B_LIKE L WHERE L.BOARD_NO = B.BOARD_NO )  AS B_LIKE,
	                        CHANGE_NAME,
	                        FILE_PATH,
	                        INSTR(B.ADDRESS, ?)AS "위치검색"
                		 FROM BOARD B
                		 JOIN MEMBER M ON (B.BOARD_WRITER = M.USER_NO)
		                 LEFT JOIN ATTACHMENT A ON (B.BOARD_NO = REF_BNO)
		                 WHERE BOARD_TYPE = 3
		                   AND B.STATUS = 'Y'
		                   AND FILE_LEVEL = 1
		                   AND A.STATUS = 'Y'
		                   AND B.SALE = 'Y'
		                 ORDER BY CREATE_DATE DESC, BOARD_NO DESC)A
		          WHERE 위치검색 > 0
		                  )
		WHERE RNUM BETWEEN ? AND ? 
	</entry>
	<entry key="selectSearchList2">
		SELECT *
		FROM  (SELECT ROWNUM RNUM, A.*
    			 FROM  (SELECT 
	                        BOARD_NO,
	                        BOARD_TITLE,
	                        USER_ID,
	                        COUNT,                
	                        (SELECT COUNT(*) FROM B_LIKE L WHERE L.BOARD_NO = B.BOARD_NO )  AS B_LIKE,
	                        CHANGE_NAME,
	                        FILE_PATH,
	                        INSTR(B.ADDRESS, ?)AS "위치검색",
	                        INSTR(BOARD_TITLE, ?) AS "제목검색"
                		 FROM BOARD B
                		 JOIN MEMBER M ON (B.BOARD_WRITER = M.USER_NO)
		                 LEFT JOIN ATTACHMENT A ON (B.BOARD_NO = REF_BNO)
		                 WHERE BOARD_TYPE = 3
		                   AND B.STATUS = 'Y'
		                   AND FILE_LEVEL = 1
		                   AND A.STATUS = 'Y'
		                   AND B.SALE = 'Y'
		                 ORDER BY CREATE_DATE DESC, BOARD_NO DESC)A
		          WHERE 위치검색 > 0
		            AND 제목검색 > 0
		                  )
		WHERE RNUM BETWEEN ? AND ? 
	</entry>
	<entry key="selectSearchList3">
		SELECT *
		FROM  (SELECT ROWNUM RNUM, A.*
    			 FROM  (SELECT 
	                        BOARD_NO,
	                        BOARD_TITLE,
	                        USER_ID,
	                        COUNT,                
	                        (SELECT COUNT(*) FROM B_LIKE L WHERE L.BOARD_NO = B.BOARD_NO )  AS B_LIKE,
	                        CHANGE_NAME,
	                        FILE_PATH,
	                        INSTR(BOARD_TITLE, ?) AS "제목검색"
                		 FROM BOARD B
                		 JOIN MEMBER M ON (B.BOARD_WRITER = M.USER_NO)
		                 LEFT JOIN ATTACHMENT A ON (B.BOARD_NO = REF_BNO)
		                 WHERE BOARD_TYPE = 3
		                   AND B.STATUS = 'Y'
		                   AND FILE_LEVEL = 1
		                   AND A.STATUS = 'Y'
		                   AND B.SALE = 'Y'
		                 ORDER BY CREATE_DATE DESC, BOARD_NO DESC)A
		            WHERE 제목검색 > 0
		                  )
		WHERE RNUM BETWEEN ? AND ? 
	</entry>
</properties>